@charset "utf-8";

/* ==========================================================================
   리셋 (Reset)
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}