/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: var(--uw-font-main);
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

/* Variables */
:root {
    --primary-color: #0F172A;
    /* Deep Navy */
    --secondary-color: #00B4D8;
    /* Tech Cyan */
    --accent-color: #FF6B35;
    /* Vibrant Orange */
    --text-color: #333333;
    --light-gray: #F8F9FA;
    --white: #FFFFFF;
    --transition-speed: 0.3s;
}